<ion-header-bar class="bar-positive">
  <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view>
  <ion-content>
  <h2>About me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptatem adipisci provident atque unde recusandae, debitis quis reprehenderit magnam dolor, odio, ratione modi rem minima natus! Nam modi architecto ducimus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, beatae impedit, delectus quia in cumque eum ipsum doloribus. Hic est et quis autem adipisci cupiditate reprehenderit delectus excepturi magni saepe.</p>
  </ion-content>
</ion-view>